@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";
* {
    box-sizing: border-box;
}

body {
    width: 1600px;
    //background: #9d9de3;
    display: flex;
}

.nav-bar {
    margin: 0 auto;
    width: 1400px;
    //border: 3px solid black;
}

span {
    font-size: 20px;
    @media (max-width: 767px) {
        font-size: 15px;
    }
}

div {
    font-size: 30px;
    @media (max-width: 767px) {
        font-size: 25px;
    }
}